[Unit]
Description=Tiny HTTP Daemon (serving DoomRL-server website)

[Service]
PIDFile=/var/lib/doomrl/thttpd.pid
ExecStart=/usr/sbin/thttpd -D -C /var/lib/doomrl/thttpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
