[Unit]
Description=Tiny HTTP Daemon (serving DoomRL-server website)

[Service]
PIDFile=/srv/doomrl/thttpd.pid
ExecStart=/usr/sbin/thttpd -D -C /usr/src/doomrl-server/etc/thttpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
